{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load static %}
{% block extrastyle %}{% static 'css/base.css' %}{% endblock %}

{% block content %}
    <div id="content">
        <div id="homeimg">
            <img src="{% static 'img/django-actor-big.jpg' %}" style="height: 400px;"/>
            <h4 style="margin: 0;">This is Django powered Web site.</h4>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">
        &copy; This is FOOTER area.
    </div>
{% endblock %}