{% extends "base.html" %}

{% block title %}Post Archives day{% endblock %}


{% block content %}
<div id="content">
    <h1>Post Archives day for {{ day|date:'d일' }}</h1>
    <div>
        <ul>
            {% for post in object_list %}
                <li>
                    {{ post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;
                    <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}